<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>fast api sample</title>
  </head>
  <body>
    <div>
      <form method="post" enctype="multipart/form-data">
        <input type="file" name="image-input" id="image-input" accept="image" />
      </form>
      <button id="post-btn">送信</button>
    </div>
    <div>
      <img id="preview-img" />
      <img id="output-img" />
    </div>
    <script src="static/index.js"></script>
  </body>
</html>
